@charset "utf-8";

.select {
  background-color: #D9C77F;
}

.CV-content {
  width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.CV-content h2 {
  border-bottom: 5px solid #7FC7D9;
  margin-bottom: 25px;
}

.CV-content dt {
  float: left;
}

.CV-content dt::after {
  content: ":";
  margin-right: 5px;
}




@media (max-width: 800px) {

  .CV-content {
    width: 80%;
    margin-top: 45px;
    margin-bottom: 45px;
  }

}