@charset "utf-8";

.year {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.year h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 8px solid #00ABEA;
  background-color: #f8ffff;
}

.course {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.course h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 8px solid #00ABEA;
  background-color: #f8ffff;
}

.course h2 {
  border-bottom: 1px solid #00ABEA;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
}

@media (max-width: 800px) {

  .year h1 {
    margin-bottom: 10px;
  }

}