@charset "utf-8";

.select {
  background-color: #D9C77F;
}

.short-profile {
  width: 80%;
  height: 250px;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
  background-color: #FFFFFF;
  padding: 20px;
}

.short-profile dl dt {
  font-size: 24px;
  border-bottom: 3px solid #7FC7D9;
  margin-bottom: 25px;
}

.short-profile dl dd {
  font-size: 18px;
}

.short-profile img {
  /* width: 70%; */
  height: 200px;
}

.news-background {
  height: calc(100vh - 100px - 250px - 30px);
  background-color: #7FC7D9;
  padding-top: 50px;
  padding-bottom: 50px;
}

.news {
  height: 100%;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  overflow-y: scroll;
  padding: 20px;
  background-color: #FFFFFF;
} 

.category {
  /* display: flex; */
  font-size: 30px;
  height: 60px;
  /* align-items: center; */
  text-align: center;
}

.event {
  display: flex;
  height: 60px;
  border-top: 1px solid #7FC7D9;
  align-items: center;
}

.event-date {
  margin-right: 30px;
  background-color: #7FC7D9;
  padding: 4px;
  border-radius: 5px;
}

.event-date p {
  color: #FFFFFF;
  font-size: 14px;
}

.event-content p {
  font-size: 15px;
}



/* レスポンシブデザイン */

@media (max-width: 800px) {
  
  .short-profile {
    display: block;
    height: 200px;
  }

  .short-profile dl dt {
    font-size: 16px;
    border-bottom: 3px solid #7FC7D9;
    margin-bottom: 5px;
  }
  
  .short-profile dl dd {
    font-size: 14px;
  }
  
  .short-profile img {
    display: none;
  }

  .oshirase {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .news-background {
    height: calc(100vh - 50px - 200px - 30px);
    background-color: #7FC7D9;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .news {
    height: calc(100vh - 50px - 100px - 160px - 30px);
    max-width: 85%;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .category {
    font-size: 22px;
    height: 45px;
    text-align: center;
  }

  .event {
    height: 70px;
  }

  .event-date {
    margin-right: 20px;
  }

  .event-content {
    margin-right: 15px;
  }

  .event-date p {
    color: #FFFFFF;
    font-size: 12px;
  }
  
  .event-content p {
    font-size: 12px;
  }

}