@charset "utf-8";

.oshirase {
  text-align: center;
  height: 50px;
  margin-top: 50px;
  margin-bottom: 50px;
}

.oshirase h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.news {
  height: calc(100vh - 100px - 200px - 200px - 30px);
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  margin-bottom: 50px;
  overflow-y: scroll;
  border: solid 3px #E5E1DA;
  border-radius: 10px;
  padding: 20px;
} 

.event-date {
  margin-right: 30px;
}

.event {
  display: flex;
}

/* レスポンシブデザイン */

@media (max-width: 800px) {
  
  .oshirase {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .news {
    height: calc(100vh - 50px - 100px - 160px - 30px);
    max-width: 85%;
    margin-top: 40px;
    margin-bottom: 40px;
  }

  .event-date {
    margin-right: 20px;
  }

  .event-content {
    margin-right: 15px;
  }

}