@charset "utf-8";

.news {
  height: calc(100vh - 100px - 200px - 30px);
  max-width: 80%;
  padding-top: 30px;
  padding-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
} 

.oshirase {
  height: 80px;
  text-align: center;
}

.oshirase h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-left: auto;
  margin-right: auto;
}

.event {
  height: calc(100% - 80px);
  margin-left: 50px;
  margin-right: 50px;
  overflow-y: scroll;
  line-height: 1;
}

.event p {
  margin-top: 5px;
  margin-bottom: 5px;
}


/* レスポンシブデザイン */

@media (max-width: 800px) {

  .news {
    height: calc(100vh - 50px - 100px - 30px);
    padding-top: 20px;
    max-width: 90%;
  }
  
  .oshirase {
    height: 50px;
  }
  
  .event {
    height: 200px;
    margin-left: 20px;
    margin-right: 20px;
  }

}