@charset "utf-8";

.all-link {
  width: 930px;
  max-width: 90%;
  margin-top: 75px;
  margin-left: auto;
  margin-right: auto;
}

.link-category {
  width: 100%;
  margin-top: 30px;
  margin-bottom: 30px;
  line-height: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link-category h2::after {
  content: '';
  display: block;
  width: 36px;
  height: 3px;
  background-color: #000000;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}

.link-category h2 {
  margin-bottom: 30px;
  font-size: 22px;
  font-family: "Zen Maru Gothic", serif;
  font-weight: bold;
  text-align: center;
}

.link {
  display: block;
  margin-top: 10px;
  margin-bottom: 10px;
  color: inherit;
  text-decoration: underline;
  font-size: 15px;
  font-family: "Zen Maru Gothic", serif;
}

@media (max-width: 800px) {

  .all-link {
    width: 500px;
    margin-top: 45px;
  }

  .link-category {
    width: 100%;
  }
}
