@charset "utf-8";

.link-category {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.link-category h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 8px solid #00ABEA;
  background-color: #f8ffff;
}

@media (max-width: 800px) {

  .link-category h1 {
    margin-bottom: 10px;
  }

}