@charset "utf-8";

.select {
  background-color: #D9C77F;
}

.note-category {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.note-category h2 {
  border-bottom: 5px solid #7FC7D9;
  margin-bottom: 25px;
}

@media (max-width: 800px) {

  .link-category {
    width: 100%;
    margin-top: 45px;
    margin-bottom: 45px;
  }

}