@charset "utf-8";

.note-category {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.note-category h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 8px solid #00ABEA;
  background-color: #f8ffff;
}

.article {
  max-width: 80%;
  margin-top: 50px;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.article h1 {
  padding-top: 8px;
  padding-bottom: 8px;
  margin-bottom: 25px;
  padding-left: 15px;
  border-left: 8px solid #00ABEA;
  background-color: #f8ffff;
}

.article h2 {
  border-bottom: 1px solid #00ABEA;
  margin-top: 25px;
  margin-bottom: 25px;
  padding-left: 15px;
}

@media (max-width: 800px) {

  .note-category h1 {
    margin-bottom: 10px;
  }

  .language-tex {
    font-size: 12px;
  }

}