@charset "utf-8";

.section {
  display: flex;
}

.reverse {
  flex-direction: row-reverse;
  padding-right:0;
  padding-left: 30px;
}

.reverse .section-inner {
  padding-right:0;
  padding-left: 30px;
}

.section img {
  width: 30%;
}


@media (max-width: 800px) {

  .section {
    display: block;
  }

  .section-text {
    padding-right: 0;
  }

  .reverse {
    padding-left: 0px;
  }

  .reverse .section-inner {
    padding-left: 0px;
  }

  .section img {
    width: 100%;
    margin-top: 20px;
  }

  .section-text h1 {
    margin-bottom: 10px;
  }

}